@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-500: #a0aec0;
  --color-gray-800: rgba(0, 0, 0, 0.74);
  --color-black: #000000;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-black);
  @apply font-sans;
}

a {
  color: var(--color-gray-800);
  opacity: 0.8;
  transition-duration: 100ms;
}

a:hover {
  color: var(--color-gray-800);
  opacity: 0.5;
  transition-duration: 100ms;
}
