@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-50: #38343f;
  --color-gray-100: #1e1e1e;
  --color-gray-500: #7c7c7c;
  --color-gray-800: rgba(255, 255, 255, 0.74);

  --lg-viewport: 1281;
}

body {
  color: var(--color-black);
  background-color: #121212;
  color: #ffff;
  @apply font-sans;
}

a {
  color: #bbbbbb;
  transition-duration: 100ms;
}

a:hover {
  transition-duration: 100ms;
  background-image: linear-gradient(214deg, #ff6993, #c05afc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  scale: 1.1;
}
