.post_transformed_button {
  position: fixed;
  bottom: 15px;
  left: calc(100% - 75px);
  animation: shine 1s;
}

@keyframes shine {
  0% {
    background-position: top left;
  }
  28%,
  100% {
    background-position: bottom right;
  }
}
