.description {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-family: Lora, serif;
  font-size: 15;
  line-height: 1.73;
  letter-spacing: 0.5px;
  color: #626881;
  height: 6rem;
}

.desktop_width {
  width: 55%;
}

@media only screen and (max-width: 986px) {
  .description {
    display: none;
    text-align: center;
  }
}
