.container {
  margin-top: 17vh;
  margin-bottom: 15vh;
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 41.66666667%;
}

.year {
  color: var(--color-gray-800);
  opacity: 0.8;
  width: fit-content !important;
}

@media (max-width: 1281px) {
  .container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    padding: 10vh 10vh 0 10vh;
  }

  .container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    padding: 3vh 3vh 0 3vh;
  }
}
