* {
  margin: 0;
  padding: 0;
}
//HOME component
.change {
  transition: 0.5s;
  .burger-1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: 0.5s;
  }
  .burger-2 {
    opacity: 0;
    transition: 0.5s;
  }
  .burger-3 {
    transform: rotate(45deg) translate(-8px, -8px);
    transition: 0.5s;
  }
}
.mobile-nav {
  background-color: lightgrey;
  width: 10rem;
  height: 40rem;
  opacity: 0.8;
  position: fixed;
  transition: 0.5s;
  .links {
    margin: 3rem;

    a {
      display: flex;
      margin: 0.3rem;
      text-decoration: none;
      color: black;
    }
    a:hover {
      border-bottom: 1px solid;
      width: 10%;
    }
  }
}

.hamburger {
  cursor: pointer;
  position: fixed;
  margin: 0.3rem;

  .burger-1,
  .burger-2,
  .burger-3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.5s;
  }
}

.side-nav-bar {
  position: fixed;
  margin: 0.3rem auto;
  a {
    color: white;
    border-bottom: 1px white solid;
    text-decoration: none;
    margin: 2rem;
  }
}
//home component styling
.header-background-image {
  width: 100%;
  height: 16rem;
  background-image: url("//zdblogs.zohocorp.com/creator/decode/sites/creator/decode/files/2020-12/VPL-04%20%281%29.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.svetozar-gospodinov {
  margin: 1rem;
  font-size: 14px;
}
h1 {
  font-weight: bolder;
}
//ABOUT component
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
  h1 {
  }
  h3 {
    text-indent: -8.8rem;
    margin-bottom: 1rem;
  }

  p {
    text-align: justify;
  }
  button {
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}
.underline {
  width: 30%;
  height: 0.2rem;
  background-color: purple;
  margin-bottom: 4.5rem;
}

//SERVICES component
.Services {
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border-bottom: 20px solid red;
}
