/*start of universal classes*/
* {
  margin: 0;
  padding: 0;
  font-family: Times, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* p {
  line-height: 2rem;
  font-size: 1.2rem;
}

/*end of universal classes*/

.toTop {
  font-size: 40px;
  border-radius: 25px;
  background-color: red;
  position: fixed;
  z-index: 2;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.underline-black {
  width: 30%;
  height: 0.2rem;
  background-color: black;
  margin-bottom: 4.5rem;
}

#tsparticles {
  width: 100vw;
  height: 100vh;
}

/*Home component styling*/
.header-background-image {
  color: white;
  position: absolute;
  top: 50%; /* Position Y halfway in */
  left: 50%; /* Position X halfway in */
  transform: translate(-50%, -50%); /* Move it halfway back(x,y) */
}

.svetozar-gospodinov {
  margin: 4rem;
  font-size: calc(min(2rem, 2.9rem));
}

h1 {
  font-weight: bolder;
}
/*About component styling*/
.btn-about-flex {
  display: flex;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
}

.about h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: calc(1vw + 1rem);
}

.about p {
  text-align: justify;
}

.about button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border: 2px solid black;
  border-radius: 7px;
  background-color: black;
  color: white;
  transition: 0.5s;
  margin: 1.4rem 1rem 0.1rem 1rem;
  cursor: pointer;
}

.about button:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.underline {
  width: 30%;
  height: 0.2rem;
  background-color: purple;
  margin-bottom: 4.5rem;
}
/*hamburger*/
.none {
  background-color: white;
  display: none;
  height: 40rem;
  opacity: 1;
  position: fixed;
  z-index: 1;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.mobile-nav {
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.links {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mobile-nav .links a {
  display: flex;
  font-size: 40px;
  margin: 2.8rem;
  text-decoration: none;
  color: rgb(110, 110, 110);
  height: 2rem;
}

.mobile-nav .links a:hover {
  opacity: 0.6;
}

.href-underline {
  width: 70%;
  height: 0.1rem;
  background-color: black;
}

.none .links a {
  display: flex;
  margin: 4rem;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 4rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: none;
}
.burger-1,
.burger-2,
.burger-3 {
  width: 35px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  margin: 6px 0;
  transition: 0.2s;
  border: 0.1px solid white;
}

.change .burger-1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  transition: 0.2s;
  border: none;
}

.change .burger-2 {
  opacity: 0;
  transition: 0.2s;
  border: none;
}

.change .burger-3 {
  transform: rotate(45deg) translate(-8px, -8px);
  transition: 0.2s;
  border: none;
}

.hamburger {
  cursor: pointer;
  position: fixed;
  margin: 0.7rem;
  z-index: 1000;
}

/*Services component styling*/
.flex-services {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myServices {
  color: white;
  font-weight: bold;
  margin: 1rem;
  font-size: 1.8rem;
}
.myServices::before {
  content: "━ ";
  margin-bottom: 1rem;
}

.myServices::after {
  content: " ━";
}

.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: black;
}

.services-boxes {
  background-color: rgb(40, 41, 43);
  height: 20rem;
  width: min(350px, 70%);
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.1rem;
  opacity: 0.7;
  transition: 0.5s;
}

.services-boxes:hover {
  opacity: 1;
  height: 20rem;
  width: min(350px, 70%);
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.1rem;
  transition: 0.5s;
}

.services-boxes h1 {
  color: white;
}

.Services p {
  margin-top: 1rem;
  color: white;
}

/*Skills component styling*/
.skills {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills p {
  margin: 1rem;
  text-align: justify;
  letter-spacing: 0.124rem;
  font-size: 1.5rem;
}
ul {
  margin-left: 1rem;
}
ul li {
  list-style: none;
  margin-top: 0.2rem;
}

.progress {
  width: 100%;
  width: 260px;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar {
  background: linear-gradient(90deg, black 0%, gray 83%);
  display: block;
  height: 100%;
}

.progress-bar-flex {
  display: flex;
  width: 69%;
  justify-content: flex-end;
}

.absolute {
  position: absolute;
}
.skills-btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 1.4rem 1rem;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  border: 2px solid black;
}
.skills-btn:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.skills-btn {
  text-decoration: none;
  color: white;
}
/*Projects component styling*/
.projects {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 1rem;
  position: relative;
  z-index: 0;
}

.project-box {
  background: hsl(225, 4%, 20%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}
.git svg {
  font-size: 60px;
  color: black;
}

.prev-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  margin: 0.8rem 0.1rem;
  color: white;
  background-color: black;
  font-size: 36px;
  border: none;
  transition: 1s;
  cursor: pointer;
}

.prev:hover {
  color: rgb(182, 67, 0);
  transition: 1s;
}

.next {
  margin: 0.4rem 0.1rem;
  color: white;
  background-color: black;
  font-size: 36px;
  border: none;
  cursor: pointer;
}

.next:hover {
  color: rgb(182, 67, 0);
  transition: 1s;
}

.prev-slide {
  opacity: 0;
  display: none !important;
}

.main-slide {
  opacity: 1;
}

.next-slide {
  opacity: 0;
  display: none !important;
}

.main-slide {
  z-index: 2;
  transition: 1s;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*Contact component styling*/
.contact-me article p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
}

.contact-me label {
  margin: 2rem;
  font-size: 20px;
  border-bottom-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.underline-form-black {
  width: 70%;
  height: 0.2rem;
  margin-top: 0.2rem;
  background-color: white;
}

.contact-me form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
}

.contact-me form input {
  margin: 0.3rem;
  border-radius: 10px;
  height: 24px;
}
input[type="text"] {
  padding: 0.05rem;
  padding-left: 0.3rem;
}

input[type="email"] {
  padding: 0.05rem;
  padding-left: 0.3rem;
}
.contact-me form textarea {
  resize: none;
  border-radius: 10px;
  margin: 0.3rem;
  padding: 0.5rem;
  padding-left: 0.3rem;
}

.contact-me form button {
  margin: 0.3rem;
  padding: 0.6rem;
  font-size: 14px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border: 2.5px solid white;
  border-radius: 18px;
  transition: 0.5s;
}

.contact-me form button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.contact-me ul {
  border: 1px solid;
  max-width: 8rem;
  position: relative;
}

.icons-info {
}

.icons-info svg {
  font-size: 28px;
  margin: 0.3rem;
}

.outer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-form {
  width: 50%;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.boxi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.mini-boxi {
  border: 1px solid transparent;
}

/*Footer component styling*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  margin: 1rem;
  text-align: justify;
}

.footer-line {
  margin: 1rem;
  width: 88%;
  height: 0.15rem;
  background: hsl(225, 4%, 20%);
}

.section-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-one a svg {
  color: black;
  font-size: 38px;
  margin-right: 0.2rem;
}

.section-one a svg:hover {
  color: hsl(225, 4%, 20%);
  font-size: 38px;
}

/* wave component */

.wave {
  width: 100%;
  overflow: hidden;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(191% + 1.3px);
  height: 319px;
}

.wave .shape-fill {
  fill: #000000;
}
/* end of wave component */

/* flipped wave component */
.flipped-curve {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.flipped-curve svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 289px;
}

.flipped-curve .shape-fill {
  fill: #000000;
}
/* end of flipped wave component */

/* lawyered wave component */
.spacer {
  aspect-ratio: 960/340;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer1 {
  /* layered waves*/
  background-image: url("./assets/layer1.svg");
}

.layer2 {
  /*flipped layered waves*/
  background-image: url("./assets/black-layer.svg");
}
